<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solving quadratic equations</title>
    <link rel="stylesheet" href="{% static 'equation/style.css' %}">
    {# Подключение jQuery #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
{% block content %}empty content{% endblock %}
</body>
</html>