{% extends 'equation/base.html' %}

{% block content %}

{# Шапка страницы #}
<h1>Решение квадратных уравнений</h1>

{% if user.is_authenticated %}
    Вы авторизованы как {{ user.username }} |
    <a href="{% url 'solutions' %}">Мои решения</a> |
    <a href="{% url 'logout' %}">Выйти</a>
{% else %}
    <a href="{% url 'login' %}?signup=True">Зарегистрироваться</a> |
    <a href="{% url 'login' %}">Войти</a>
{% endif %}

<hr>
<div>
    {# Формула уравнения #}
    <p>
        ax<sup>2</sup> + bx + c = 0
    </p>
    {# Форма ввода коэффициентов уравнения #}
    <form method="POST" action="{% url 'solve' %}" class="equation-form">
        {% csrf_token %}
        <div class="row">
            <label for="a">a = </label>
            <input type="number" id="a" name="a">
        </div>

        <div class="row">
            <label for="b">b = </label>
            <input type="number" id="b" name="b">
        </div>

        <div class="row">
            <label for="c">c = </label>
            <input type="number" id="c" name="c">
        </div>

        <button type="submit">Решить</button>
    </form>
    <div id="result">
    </div>

    {# Форма ввода корней уравнения #}
    <div class="equation-form">
        <div class="row">
            <label for="x1">x1 = </label>
            <input type="number" id="x1" name="x1">
        </div>

        <div class="row">
            <label for="x2">x2 = </label>
            <input type="number" id="x2" name="x2">
        </div>

        {# Флаг отсутствия корней уравнения #}
        <div class="row">
            <input type="checkbox" id="no_solution" name="no_solution">
            <label for="no_solution">Нет решений</label>
        </div>

        <button id="check">Проверить</button>
    </div>

</div>

<script>
    // Сохраняем форму в переменную для дальнейших действий с ней
    let form = $('.equation-form');

    // Обработчик события отправки формы
    form.on('submit', function(event){

        // Не использует стандартное поведение
        event.preventDefault();

        // Проверка заполнения всех полей
        let empty = false;

        $('form.equation-form input').each(function(index, element) {
            if (!element.value)
                empty = true;
        });

        if (empty) {
            $('#result').text('Заполните все поля ввода!');
            return false;
        }

        // Отправка формы
        let data = new FormData(form[0]);
        $.ajax({
            method: 'POST',
            url: form.attr('action'),
            contentType: false,
            processData: false,
            data: data,
            success: function(data){
                $('#result').text(data);
            },
            error: function(r, status){
                $('#result').text(status);
            }
        });
    })

    //Обработка нажатия кнопки "Проверить"
    $('#check').on('click', function(event) {
        // Проверка заполнения всех полей
        let empty = false;

        $('form.equation-form input').each(function(index, element) {
            if (!element.value)
                empty = true;
        });

        // Установлена ли галочка нет решений
        let no_solution = $('#no_solution').is(':checked');

        if (!no_solution) {
            // Проверка заполнения корней уравнения
            $('div.equation-form input[type="number"]').each(function(index, element) {
                if (!element.value)
                    empty = true;
            });
        }

        if (empty) {
            $('#result').text('Заполните все поля ввода!');
            return false;
        }

        // Создание объекта данных формы
        let data = new FormData(form[0]);
        if (no_solution) {
            data.append('no_solution', no_solution)
        } else {
            data.append('x1', $('#x1').val());
            data.append('x2', $('#x2').val());
        }

        // Отправка запроса проверки
        $.ajax({
            method: 'POST',
            url: '{% url 'check' %}',
            contentType: false,
            processData: false,
            data: data,
            success: function(data) {
                $('#result').text(data);
            },
            error: function(r, status) {
                $('#result').text(status);
            }
        });

    })
</script>

{% endblock %}
