{% extends 'equation/base.html' %}

{% block content %}

{# Шапка страницы #}
<a href="{% url 'index' %}">На главную</a> |
{% if signup %}
    <a href="{% url 'login' %}">Войти</a>
{% else %}
    <a href="{% url 'login' %}?signup=True">Зарегистрироваться</a>
{% endif %}

<hr>

{# Форма регистрации/авторизации #}
<form method="POST" action="#" class="login-form" onsubmit="return validateInput()">
    {% csrf_token %}
    <div class="table">
        <div class="row">
            <label for="username">Имя пользователя</label>
            <input type="text" name="username" id="username">
        </div>

        {% if signup %}
        <div class="row">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email">
        </div>
        {% endif %}

        <div class="row">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password">
        </div>

        {% if signup %}
        <div class="row">
            <label for="repeat">Подтверждение пароля</label>
            <input type="password" name="repeat" id="repeat">
        </div>
        {% endif %}
    </div>

    {# Блок для отображения сообщений об ошибках #}
    <div class="error">{{ error }}</div>

    <div class="button-div">
        <button type="submit">
            {% if signup %}Зарегистрироваться{% else %}Войти{% endif %}
        </button>
    </div>

</form>

<script>
    // Функция проверки правильности заполнения формы
    function validateInput() {
        let empty = false;

        // Определение наличия пустых полей
        $('.login-form input').each(function(index, element) {
            if (!element.value)
                empty = true;
        });

        // Если хотя бы одно поле пустое
        if (empty) {
            $('.error').text('Заполните все поля ввода!');
            return false;
        }

        {% if signup %}

        // Проверка совпадения введенных паролей
        if ($('#password').val() != $('#repeat').val()) {
            $('.error').text('Пароли не совпадают');
            return false;
        }

        {% endif %}

        return true;
    }
</script>

{% endblock %}