{% extends 'equation/base.html' %}

{% block content %}
<h1>Мои решения</h1>

<a href="{% url 'index' %}">На главную</a>

<hr>

<div>
    {# Таблица решений уравнений #}
    <table>
        <thead>
            <tr>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>x1</th>
                <th>x2</th>
                <th>Правильность решения</th>
            </tr>
        </thead>
        <tbody>
            {% for solution in solutions %}
                <tr>
                    <td>{{ solution.a }}</td>
                    <td>{{ solution.b }}</td>
                    <td>{{ solution.c }}</td>
                    <td>{{ solution.x1 }}</td>
                    <td>{{ solution.x2 }}</td>
                    <td>{% if solution.correct %} Верно {% else %} Неверно {% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}