body {
    width: 40vw;
    margin: 0 auto;
}

.login-form {
    width: fit-content;
}

.login-form .table {
    display: table;
    border-spacing: 10px;
}

.login-form .row {
    display: table-row;

}

.login-form input,
.login-form label {
    display: table-cell;
}

.login-form button {
    margin-right: 10px;
}

.login-form .error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.login-form .button-div {
    text-align: right;
}

.equation-form .row {
    margin-bottom: 10px;
}

.equation-form button {
    margin-bottom: 10px;
}